# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS / credenciales
.aws/
credentials
config
*.pem
*.key
*.crt
*.kubeconfig
kubeconfig

# Docker / app
node_modules/
dist/
build/
.env
.env.*
!.env.example

# Sistema / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/
